.logo{
	height: 100px;
}

.carousel{
	margin-top: 50px;
}

.border-top{
	border-top-width: 5px !important;
	background-color: #C4C2BE;
}

.privasi{
	background-color: #C4C2BE;
}

.kebijakan-syarat{
	margin-top: 100px; 
	margin-bottom:100px;
	min-height: 500px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right:20px;
}
a{
	text-decoration: none;
	color: #555;
